
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

  .swiper-slide:hover{
    cursor: grab;
  }
  
  .swiper-slide:active{
    cursor: grabbing;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-button-prev, .swiper-button-next {
    color: #121212;
    padding: 20px 20px;
  }

  .swiper-button-prev:hover, .swiper-button-next:hover {
    background-color:#dcdcdc;
    border-radius: 50%;
    padding: 20px 20px;
  }

  .swiper-button-prev:after, .swiper-button-next:after {
    font-size:  2em !important;
  }

  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    margin: 0 4px;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 1;
    border-radius: 8px;
  }

  .swiper-pagination-bullet-active {
    background-color: rgb(28, 30, 51);
  }
  
  

  
  
  @media (max-width: 600px) {
    
    .parent-slider img {
      display: none;
  
    }
  
  
    }